<launch>
  <arg name="serialport" default="/dev/ttyUSB0"/>
  <arg name="frame" default="laser"/>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="$(arg serialport)"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="$(arg frame)"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  <param name="min_range"           type="double"   value="0.2"/>
  <param name="max_range"           type="double"   value="12"/>
  </node>
</launch>
